exclude .editorconfig
exclude .eslintrc.js
exclude .gitattributes
exclude .github/**
exclude .gitignore
exclude .npmignore
exclude Cargo.toml
exclude Makefile
exclude MANIFEST.in
exclude Package.swift
exclude binding.gyp
exclude bindings/c/**
exclude bindings/go/**
exclude bindings/node/**
exclude bindings/rust/**
exclude bindings/swift/**
exclude doc/**
exclude examples/**
exclude grammar.js
exclude package.json
exclude queries/**
exclude script/**
exclude src/grammar.json
exclude src/node-types.json
exclude test/**
exclude tree-sitter-pgn.wasm
