name: PGN grammar CI

on:
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  test_unixlike:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [macos-latest, ubuntu-latest]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: tree-sitter/setup-action@c6eaf2600b6e355373776d58205e5622c6627eb3 # v2
        with:
          tree-sitter-ref: v0.25.8
      - name: Run test commands
        shell: bash
        run: |
          tree-sitter generate
          tree-sitter test
          ./script/parse_examples.sh
