name: Publish packages

# copied from
#
#     https://raw.githubusercontent.com/tree-sitter/workflows/main/.github/workflows/package-pypi.yml
#
# with Windows removed, because the Windows build failed

on:
  push:
    tags: ["v*"]

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: false

jobs:
  build_sdist:
    name: Build source dist
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: pip install --upgrade pip build setuptools wheel
      - name: Build sources
        run: python -mbuild -n -s
      - name: Upload sources
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: dist-sources
          path: dist/*.tar.gz
          retention-days: 2

  build_wheels:
    name: Build wheels on ${{matrix.os}} (${{matrix.cibw_arch}})
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        include:
          - { os: ubuntu-latest, cibw_arch: x86_64 }
          - { os: ubuntu-latest, cibw_arch: aarch64, qemu_arch: arm64 }
          - { os: macos-latest,  cibw_arch: arm64 }
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set up QEMU
        if: matrix.qemu_arch != ''
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
        with:
          platforms: ${{matrix.qemu_arch}}
      - name: Build wheels
        uses: pypa/cibuildwheel@63fd63b352a9a8bdcc24791c9dbee952ee9a8abc # v3.3.0
        with:
          output-dir: dist
        env:
          CIBW_ARCHS: ${{matrix.cibw_arch}}
          CIBW_TEST_SKIP: "*-*linux_aarch64"
      - name: Upload wheel artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          path: dist/*.whl
          name: dist-wheels-${{matrix.os}}-${{matrix.cibw_arch}}
          retention-days: 2

  package:
    name: Publish Python package
    needs: [build_sdist, build_wheels]
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/project/${{github.event.repository.name}}/
    # permissions:
    #   id-token: write
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          path: dist
          pattern: dist-*
          merge-multiple: true
      - name: Check build artifacts
        run: ls -l dist
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          password: ${{secrets.PYPI_API_TOKEN}}
